<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.artifex.mupdfdemo"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

    <!--<application-->
        <!--android:label="@string/mupdf_title"-->
        <!--android:hardwareAccelerated="true">-->
    <!--</application>-->
    <application>
        <activity android:name=".ChoosePDFActivity"/>
        <activity android:name=".BasicActivity"/>
        <activity android:name=".MuPDFActivity"/>
        <activity android:name=".OutlineActivity"/>
    </application>

</manifest>
